{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Mon compte</h1>

    {{ form(form) }}
</div>
{% endblock %}
