{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Inscription</h1>

    {{ form(form) }}
</div>
{% endblock %}
